@media screen and (max-width: 1024px){
    .menu{
        position: relative;
        
    }
    #servizi{
        width: 90vw;
        text-align: center;
        margin: 20px auto;
    }
}
@media screen and (max-width: 900px){
.row img{
    width: 300px;
}
.suggestionspage {
   
}
.suggestionpage img{
    height: 50%;
    width: 50%;
    margin: 0 auto;
}
.suggestionpage h3{
    font-size: 16px;
    width: 35%;
    height: 35px;
    margin: -40px auto 0 auto;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    padding: 10px;
    background-color: #FEFECD;
    z-index: 1;
    position: relative;
    text-align: center;
    vertical-align: bottom;
    line-height: 35px;
}

}

@media (max-width: 767px){

    .burger-button{
        display: block;
        position: fixed;
        font-size: 25px;
    }
    .fadeInDown{
        display: block;
        text-align: center;
    }
    
    .menu {
        position: fixed;
        background: rgba(255, 255, 255, 0.8);
        
        z-index: 3;
        top: 0;
        left: -100vw;
        width: 100vw;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: .3s;
    }
    
    .menu.is-active{
        left: 0;
    }
    .close-button .menu.is-active{
        display: block;
        position: fixed;
        left: 0;
    }
    
    .menu ol{
        display: block;
    }
    .menu ol li {
        margin: 30px auto;
    }
    .menu ol li a{
        color: #026FFF;
        font-weight: 700;
        font-size: 22px;
    }

    body{
        z-index: 2;
    }

    .suggestion{
        display: inline;
        width: 90%;
        margin: 0;
    }

    .suggestion img{
        margin: 0 25%;
        text-align: center;
        height: 50%;
        width: 50%;
        object-fit: cover;
        position: inherit;
    }

    .suggestion h3 {
        width: 31%;
        margin: -40px 26% 0 31.5%;
        font-size: 20px;
        font-family: 'Montserrat', sans-serif;
        padding: 10px;
        background-color: #FEFECD;
        z-index: 1;
        position: relative;
        text-align: center;
        vertical-align: bottom;
    }

    .services_article{
        height: 54%;
        width: 81%;
    }

    .services_article img{
        height: 300px;
        width: 45%;
        margin-bottom: 5%;
        margin-top: 5%;
        object-fit: cover;
    }
    .services_article_img_grid{
        height: 300px;
        width: 60%;
        object-fit: cover;
        margin-left: 0px;
        margin-right: 0px;
        padding: 0;
    }
    .row{
        text-align: center;
    }
    

    .contact{
        flex-wrap: wrap;
        height: 100%;
        text-align: center;
        justify-content: center;
    }
    .form_email input{
        margin: 10px 5px;
    }
    .boton_name{
        text-align: center;
        padding: 0 8px;
        line-height: 35px;
        height: 35px;
    }
    .contatto{
        max-width: 767px;
    }
    .map img{
        height: 0;
        width: 0;
        border: none;
        box-shadow: none;
    }
    .contattoTxt {
        text-align: center;
        width: 100vw;
    }
    .contattoH1{
        color: var(--blue_color);
        width: auto;
        font-size: 20px;
    }
    .contattoTxt h3, h2{
        font-size: 1em;
    }

    .form_email{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
    .form_email h2{
        margin: 0 40%;
        font-size: 30px;
        text-align: center;
    }


    .suggestionpage img{
        text-align: center;
        
        object-fit: cover;
        position: inherit;
    }
    
    .suggestionpage h3 {
        width: 170px;
        height: 40px;
        margin: -40px auto 0 auto;
        font-size: 16px;
        font-family: 'Montserrat', sans-serif;
        padding: 10px;
        background-color: #FEFECD;
        z-index: 1;
        position: relative;
        text-align: center;
        vertical-align: bottom;
    }
    
    .suggestionpage p{
        width: 500 px;
        padding: 0 45px;
        background-color: var(--white_color);
        box-shadow: var(--shadowBox);
        margin-top: -10px;
        padding: 20px;
        font-size: 14px;
        font-family: 'Montserrat', sans-serif;
    }
    
    .suggestionpage p strong{
        font-size: 17px;
        font-family: 'Montserrat', sans-serif;
    }

}

@media screen and (max-width: 600px){
    .contatto{
        max-width: 100vw;
    }
    .form_email{
        max-width: 100vw;
    }
    .contattoTxt {
        text-align: center;
        width: 100vw;
    }
    .contattoH1{
        color: var(--blue_color);
        width: auto;
        font-size: 16px;
    }
    .contattoTxt h3, h2{
        font-size: 12px;
    }

.hero{
    display: block;
    max-width: 100%;
    min-width: 100%;
    width: 100%;
    height: auto;
    background-image: url('../images/iot.png');
    background-size: 65% 90%;
    background-repeat: no-repeat;
    background-position: right;
    object-fit: cover;
    z-index: 1;
}

.hero h1{
    font-size: 30px;
    padding: 4%;
}
.hero img{
    height: 0;

        /* max-width:75%; */
        /* min-width: 75%; */
        /* width: 75%; */
        /* height: auto; */
}
.form_email h2{
    font-size: 20px;
}
.form_email input{
    font-size: 11px;
}


}


@media screen and (max-width: 480px){
    .row img{
        width: 250px;
    }

}
@media screen and (max-width: 320px){
    .services_article h3{
        font-size: 14px;
    }
    .row img{
        width: 200px;
    }
    .form_email{
        text-align: center;
    }
    .form_email label{
        margin: auto 20px;
    }
}